@media(max-width:767px){
    .search-bar {
        width:90%;
        max-width:500px;
        margin:auto;
        margin-top:125px;
        margin-bottom:20px;
        
    }
    .logo{
        width:100%;
        text-align:center;
        font-size:50px;
        margin-bottom:30px;
        color:#B0197E;
        
    }
    .nav-search-input{
        font-size:14px;
        border-radius:0px;
        padding-left:5px;
    }
    .nav-search-container{
        margin-top:5px;
        margin-bottom:10px;
        
    }
    .navbar-toggle{
        margin-top:6px;
        padding:7px 10px;
        margin-bottom:0px;
        margin-right:5px;
        
    }
    .navbar-brand{
        margin-top:0px;
    }
    .movie-poster{
        width:70px;
        height:106;
        background:#EEE;
        margin-right:5px;
        margin-top:10px;
        margin-bottom:10px;
        float:right;
        
    }
    .movie-poster-link{
        transition: all .2s ease-in;
        -webkit-transition:all .2s ease-in;
        -moz-transition:all .2s ease-in;
        -o-transition:all .2s ease-in;
        -ms-transition:all .2s ease-in;
        cursor:pointer;
    }
    .movie-poster-link:hover:before {
        position: absolute;
        top:10px;
        content: '';
        background-color: rgba(0,0,0, 0.5);
        background-image: url('../images/plex_logo_poster.png');
        background-size: 70px 106px;
        background-repeat: no-repeat;
        width:70px;
        height:106px;
        pointer-events: none;
        
        
    }
    .movie-title{
        font-size:20px;
        padding-top:4px;
        
    }
    .username{
        font-size:13px;
    }
    .description{
        font-size:11px;
        margin-top:-8px;
    }
    .mobile-hide{
        display:none;
    }
    .result-label {
        font-size:10px;
        position:relative;
        top:-5px;
    }
    
}
@media(min-width:768px){
    .search-bar {
        width:80%;
        max-width: 500px;
        margin:auto;
        margin-top:150px;
        margin-bottom:30px;
    }
    .result-label {
        font-size:12px;
        position:relative;
        top:-5px;
    }
    .logo{
        width:100%;
        text-align:center;
        font-size:80px;
        margin-bottom:30px;
        color:#B0197E;
        
    }
    .nav-search-container{
        width:80%;
        max-width:500px;
        padding-top:8px;

    }
    .nav-search-input{
        font-size:14px;
        border-radius:0px;
        padding-left:5px;
    }
    .movie-poster{
        width:100px;
        height:152px;
        background:#EEE;
        margin-right:10px;
        margin-top:15px;
        margin-bottom:15px;
        transition:all .1s ease-in;
        -webkit-transition:all .1s ease-in;
        -moz-transition:all .1s ease-in;
        -o-transition:all .1s ease-in;
        -ms-transition:all .1s ease-in;
        
        
    }
    .movie-poster-link{
        transition: all .2s ease-in;
        -webkit-transition:all .2s ease-in;
        -moz-transition:all .2s ease-in;
        -o-transition:all .2s ease-in;
        -ms-transition:all .2s ease-in;
        cursor:pointer;
    }
    .movie-poster-link:hover:before {
        position: absolute;
        top:15px;
        content: '';
        background-color: rgba(0,0,0, 0.5);
        background-image: url('../images/plex_logo_poster.png');
        background-size: 100px 152px;
        background-repeat: no-repeat;
        width:100px;
        height:152px;
        pointer-events: none;
        
    }
    .movie-title{
        font-size:32px;
        padding-top:4px;
        
    }
    .username{
        font-size:16px;
    }
    .description{
        font-size:14px;
        margin-top:-8px;
    }
    
}

body{
    font-family: 'Oxygen', sans-serif;
    
}
.search-input{
    border-radius:0px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:5px;
    padding-right:10px;
    font-size:15px;
    
}
.search-btn{
    border-radius:0px;
    transition:background-color .1s ease-in;
    -webkit-transition:background-color .1s ease-in;
    -moz-transition:background-color .1s ease-in;
    -ms-transition:background-color .1s ease-in;
    -o-transition:background-color .1s ease-in;
    padding-left:15px;
    padding-right:15px;
    
}
.footer{
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    padding:10px 10px;
    background:#EEE;
    border:1px solid #DDD;
    
}
.footer-container{
    text-align: center;
    color:#888;
    font-size:12px;
    
}
.logo, .movie-title, .username, .description{
    transition: font-size .1s ease-in;
    -webkit-transition: font-size .1s ease-in;
    -o-transition: font-size .1s ease-in;
    -ms-transition: font-size .1s ease-in;
    
}
.movie-poster{
    
    transition: width .1s ease-in;
    -webkit-transition: width .1s ease-in;
    -o-transition: width .1s ease-in;
    -ms-transition: width .1s ease-in;
    -moz-transition: width .1s ease-in;
    
}



.nav-search-bar {
    position:relative;
    top:8px;
    float:left;
    width:100px;
}
.navbar{
    background:#B0197E;
    border-color:#B0197E;
    
}
.navbar-default .navbar-toggle{
    color:#FFF;
    border:transparent;
    transition: background .1s ease-in;
    -webkit-transition: background .1s ease-in;
    -o-transition: background .1s ease-in;
    -ms-transition: background .1s ease-in;
    -moz-transition: background .1s ease-in;
    
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    color:#FFF;
    border-color:transparent;
    background:#9c1670;
    
}
.navbar-default .navbar-collapse{
    border:transparent;
    box-shadow: none;
    
}
.navbar-brand > i{
        font-size:25px;
        margin-top:-2px;
}
.media{
    border-top:1px solid #EEE;
    border-bottom:1px solid #EEE;
    cursor: pointer;
}


.media-body {
  vertical-align: middle;
}
.container{
    width:100%;
}

.resultsContainer {
    display:block;
}

.searchContainer {

}

.no-results-message {
    padding-left:30px;
}
.zone-loading {
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    width:100%;
    height:100vh;
    background:rgba(255,255,255,.8);
        
}
.zone-loading-icon{
    font-size:50px;
    position:relative;
    float:left;
    top:50%;
    left:50%;
    transform: translate(-25%,-25%);
    
}
.clearable{
  background: #fff url(../images/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

